XInputToLua/Release/XInputToLuaB27.tlog/
XInputToLua/Debug/XInputToLuaB27.tlog/
LuaTestForB27/Release/LuaTestForB27.tlog/CL.read.1.tlog
LuaTestForB27/Release/LuaTestForB27.tlog/CL.write.1.tlog
LuaTestForB27/Release/LuaTestForB27.tlog/LuaTestForB27.lastbuildstate
LuaTestForB27/Release/LuaTestForB27.tlog/LuaTestForB27.write.1u.tlog
LuaTestForB27/Release/LuaTestForB27.tlog/cl.command.1.tlog
LuaTestForB27/Release/LuaTestForB27.tlog/link.command.1.tlog
LuaTestForB27/Release/LuaTestForB27.tlog/link.read.1.tlog
LuaTestForB27/Release/LuaTestForB27.tlog/link.write.1.tlog
*.opensdf
*.sdf
